@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Nunito+Sans:wght@300;700&family=Prompt:ital,wght@0,400;1,300&family=Saira+Extra+Condensed:wght@300&family=Stick+No+Bills:wght@300;600&display=swap');

body {
    font-family: 'Nunito Sans', sans-serif;
    display: block;
    margin: auto;
    text-align: center;
    background-color: #e2e8f0;
}

button {

    font-family: 'Nunito Sans', sans-serif;
    text-align: center;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

button:hover {
    background-color: #ddd6fe;
    text-decoration: none;
}

input {
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
}

h1 {
    padding: 1rem;
    color: #a855f7;
}